.f {
    background-color: red;
}

#resividor-r {
    animation: animation-r 1s ease;
}

@keyframes animation-r {
    from {
        transform: translateX(-15px);
    }
    to {
        transform: translateX(0);
    }
}

#resividor-l {
    animation: animation-l 1s ease;
}

@keyframes animation-l {
    from {
        transform: translateX(-15px);
    }
    to {
        transform: translateX(0);
    }
}

#resividor-box {
    animation: animation-box 2.2s ease;
    background-image: url(../img/1.png);
}

@keyframes animation-box {
    from {
        transform: translateX(30px);
    }
    to {
        transform: translateX(0);
    }
}

#nb {
    animation: animation-nb 1s ease;
}

@keyframes animation-nb {
    from {
        transform: translateY(-100px);
    }
    to {
        transform: translateY(0);
    }
}


/****************************************************/

/* Utils */

.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.text-bold {
    font-weight: 700;
  }