{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container d-flex justify-content-center my-2">
    <div class="card" style="width: 700px;">
        <div class="card-body">
            <h2>Agregar Regla</h2>
            <hr>
            <form action="" method="post" enctype="multipart/form-data">
                {%csrf_token%}
                {{form | crispy}}
                <div class="d-flex justify-content-end mt-2">
                    <input type="reset" value="Cancelar" class="btn btn-secundary">
                    &nbsp;
                    <input type="submit" value="Guardar" class="btn btn-primary">
                </div>
            </form>
            {{mensaje}}
        </div>
    </div>
</div>

{% endblock %}