{% extends 'main/base.html' %}
{% load static %}

{% block content %}

<section class="container my-5">
    {% if regla.imagen.url != null %}
        <img src="{{regla.imagen.url}}" alt="rule-image" style="max-width: 400px; max-height: 400px" class="img-fluid">
    {% else %}
        <img src={% static 'img/backgrund-card.png' %} alt="rule-image" style="max-width: 400px; max-height: 400px" class="img-fluid">
    {% endif %}
    <div class="display-6 my-3">
        {{regla.nombre}}
    </div>
    <div class="w-75">
        <p>{{regla.descripcion}}</p>
    </div>
</section>

{% endblock content %}