{% extends 'main/base.html' %} {% block content %}

<div class="b-example-divider"></div>

<div class="container my-3 mx-auto ">
    <div class="row p-4  pb-5 pe-lg-0 pt-5 align-items-center rounded-3 border shadow-lg" id="resividor-box">


        <div class="col-md-7 p-3 p-lg-5 pt-lg-3">

            <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="5000">
                        <h1 class="display-4 fw-bold lh-1">Asi que ya conoces</h1>
                        <h1 class="display-4 fw-bold lh-1 text-success">Y-Zone</h1>
                        <p class="lead">
                            Yu-Gi-Oh! (遊☆戯☆王 Yūgiō, traducido del japonés "Rey de los Juegos") es una popular franquicia de manga y anime japonés creada por Kazuki Takahashi que
                            involucra principalmente a personajes que juegan un juego de cartas llamado Duelo de Monstruos
                            (Duel Monsters originalmente llamado Magic & Wizards/Magia y Magos en el manga) donde cada jugador armaba un Deck (baraja) de Cartas de Monstruos,
                            Cartas Mágicas y Cartas de Trampas para derrotar a su adversario.
                        </p>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">

                            <button type="button" class="btn btn-success  px-4 me-md-2 fw-bold">Saber más</button>

                        </div>
                    </div>
                    <div class="carousel-item" data-bs-interval="3000">
                        <h1 class="display-4 fw-bold lh-1">Te recomendamos</h1>
                        <h1 class="display-4 fw-bold lh-1 text-success">Ver el Ranking</h1>
                        <p class="lead">
                             Comenzó como un manga en Japón en 1996. La franquicia de Yu-Gi-Oh! ha tenido un inmenso éxito a
                            nivel global, originando varias series de anime. En la vida real se lanzaron las cartas del anime
                            y existen videojuegos, juguetes y muchos otros productos.
                        </p>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">

                            <a href="{%url 'ranking' %}"><button type="button" class="btn btn-success  px-4 me-md-2 fw-bold">Ir al Ranking</button></a>
                        </div>
                    </div>
                    <div class="carousel-item slide-3rd">

                        <h1 class="display-4 fw-bold lh-1">Bienvenido a</h1>
                        <h1 class="display-4 fw-bold lh-1 text-success">Y-Zone</h1>

                        <p class="lead">
                             Yu-Gi-Oh! (遊☆戯☆王 Yūgiō, traducido del japonés "Rey de los Juegos") es una popular franquicia de manga y anime japonés creada por Kazuki Takahashi que
                            involucra principalmente a personajes que juegan un juego de cartas llamado Duelo de Monstruos
                            (Duel Monsters originalmente llamado Magic & Wizards/Magia y Magos en el manga) donde cada jugador armaba un Deck (baraja) de Cartas de Monstruos,
                            Cartas Mágicas y Cartas de Trampas para derrotar a su adversario.
                        </p>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">

                            <button type="button" class="btn btn-success  px-4 me-md-2 fw-bold">Saber más</button>

                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
            </div>

            <!--  -->
        </div>
        <div class="col-md-3 m-auto registro-div align-items-center">
            <div class="card p-4 shadow-lg" style="width: 18rem;" id="resividor-l">
                <h2>Inicio de sesion:</h2>
                <!--? formulario de login -->
        <form method="post" action=" " class="form">
            {% csrf_token %}



                    <div class="form-group form-card text-center">
                       <!--- <input type="text" name="user" class="form-control mx-auto my-1" placeholder="Usuario" aria-describedby="helpId" required>
                        <input type="password" name="pass" class="form-control mx-auto my-1" placeholder="Contraseña" aria-describedby="helpId" required>
                        --->
                        <!---{{form}}--->
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input type="text" name="username" autofocus autocapitalize="none" autocomplete="username" class="form-control mx-auto my-1" placeholder="Usuario">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input type="password" name="password" autocomplete="current-password" required id="id_password" class="form-control mx-auto my-1" placeholder="Contraseña">
                    </div>

              <input type="submit" value="Iniciar Sesion" class="btn form-control mx-auto my-1 btn-success mt-1 btn-block fw-bold" />
              <input type="hidden" name="next" value="{{ next }}" />

            </form>
                <a role="button" href="{% url 'home' %}" name="" id="" class="btn btn-outline text-success fw-bold btn-block">Cancelar</a>

            </div>
        </div>
    </div>
</div>



{% endblock %}