{% extends 'main/base.html' %}
{%load static%}
{% block content %}
{%if user.is_authenticated%}
<!---<h1>Hello {{user.username}}</h1>-->
<div class="b-example-divider"></div>


<div class="container my-3 mx-auto ">
    <div class="row p-4  pb-5 pe-lg-0 pt-5 align-items-center rounded-3 border shadow-lg" id="resividor-box">


        <div class="col-md-7 p-3 p-lg-5 pt-lg-3">

            <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="5000">

                        <h1 class="display-4 fw-bold lh-1">Bienvenido a</h1>
                        <h1 class="display-4 fw-bold lh-1 text-success">Y-Zone</h1>
                        <p class="lead">
                            Yu-Gi-Oh! (遊☆戯☆王 Yūgiō, traducido del japonés "Rey de los Juegos") es una popular franquicia de manga y anime japonés creada por Kazuki Takahashi que
                            involucra principalmente a personajes que juegan un juego de cartas llamado Duelo de Monstruos
                            (Duel Monsters originalmente llamado Magic & Wizards/Magia y Magos en el manga) donde cada jugador armaba un Deck (baraja) de Cartas de Monstruos,
                            Cartas Mágicas y Cartas de Trampas para derrotar a su adversario.
                        </p>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">

                            <button type="button" class="btn btn-success  px-4 me-md-2 fw-bold">Saber más</button>

                        </div>
                    </div>
                    <div class="carousel-item" data-bs-interval="3000">
                        <h1 class="display-4 fw-bold lh-1">Te recomendamos</h1>
                        <h1 class="display-4 fw-bold lh-1 text-success">Ver el Ranking</h1>
                        <p class="lead">
                            Comenzó como un manga en Japón en 1996. La franquicia de Yu-Gi-Oh! ha tenido un inmenso éxito a
                            nivel global, originando varias series de anime. En la vida real se lanzaron las cartas del anime
                            y existen videojuegos, juguetes y muchos otros productos.
                        </p>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">

                            <a href="{% url 'ranking' %}"><button type="button" class="btn btn-success  px-4 me-md-2 fw-bold">Ir al Ranking</button></a>

                        </div>
                    </div>

                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
            </div>

            <!--  -->
        </div>



    </div>
</div>

<div class="b-example-divider"></div>


<!---Aqui va la plantilla de Home para cuando el user este logeado-->

{%else%}
<div class="b-example-divider"></div>


<div class="container my-3 mx-auto ">
    <div class="row p-4  pb-5 pe-lg-0 pt-5 align-items-center rounded-3 border shadow-lg" id="resividor-box">


        <div class="col-md-7 p-3 p-lg-5 pt-lg-3">

            <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="5000">

                        <h1 class="display-4 fw-bold lh-1">Bienvenido a</h1>
                        <h1 class="display-4 fw-bold lh-1 text-success">Y-Zone</h1>
                        <p class="lead">
                           Yu-Gi-Oh! (遊☆戯☆王 Yūgiō, traducido del japonés "Rey de los Juegos") es una popular franquicia de manga y anime japonés creada por Kazuki Takahashi que
                            involucra principalmente a personajes que juegan un juego de cartas llamado Duelo de Monstruos
                            (Duel Monsters originalmente llamado Magic & Wizards/Magia y Magos en el manga) donde cada jugador armaba un Deck (baraja) de Cartas de Monstruos,
                            Cartas Mágicas y Cartas de Trampas para derrotar a su adversario.
                        </p>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">

                            <button type="button" class="btn btn-success  px-4 me-md-2 fw-bold">Saber más</button>
                            <a href="{% url 'login' %}"><button type="button" class="btn btn-outline-secondary  px-4">Ir a inicio de sesión</button></a>

                        </div>
                    </div>
                    <div class="carousel-item" data-bs-interval="3000">
                        <h1 class="display-4 fw-bold lh-1">Te recomendamos</h1>
                        <h1 class="display-4 fw-bold lh-1 text-success">Ver el Ranking</h1>
                        <p class="lead">
                              Comenzó como un manga en Japón en 1996. La franquicia de Yu-Gi-Oh! ha tenido un inmenso éxito a
                            nivel global, originando varias series de anime. En la vida real se lanzaron las cartas del anime
                            y existen videojuegos, juguetes y muchos otros productos.
                        </p>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">

                            <a href="{% url 'ranking'%}"><button type="button" class="btn btn-success  px-4 me-md-2 fw-bold">Ir al Ranking</button></a>

                        </div>
                    </div>

                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
            </div>

            <!--  -->
        </div>



    </div>
</div>

<div class="b-example-divider"></div>


{%endif%}
{% endblock %}

