<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container" id="nb">
        <a class="navbar-brand" href="{% url 'home' %}"><b>Y-Zone</b></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'ranking' %}"><i class="bi bi-newspaper"></i>  Ranking</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#"><i class="bi bi-bag"></i> Tienda</a>
                </li>
                <li class="nav-item active">
                    {% if user.is_authenticated %}
                    <a class="nav-link active" href="{% url 'logout' %}"><i class="bi bi-door-closed"></i> Cerrar Sesion</a>

                    {% else %}
                <a class="nav-link active" href="{% url 'login' %}"><i class="bi bi-door-closed"></i> Iniciar Sesion</a>
                    {% endif %}

                    <!-- 
                    <a class="nav-link active" href="{% url 'login' %}"><i class="bi bi-door-closed"></i> LogIn</a> -->

                </li>
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Otras Cosas
            </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#"><i class="bi bi-file-person"></i> About Us</a></li>
                        <li><a class="dropdown-item" href="#"><i class="bi bi-mailbox2"></i> Contacto</a></li>
                        <li><a class="dropdown-item" href="#"><i class="bi bi-file-post"></i> Informacion legal</a></li>
                    </ul>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link active container" href="#"><i class="bi bi-person-circle"> {{user.username}}</i></a>
                </li>
                {%endif%}
            </ul>
        </div>
    </div>
</nav>