{% extends 'layout.html' %} {% block content %}

<div class="b-example-divider"></div>

<div class="container my-3 mx-auto ">
    <div class="row p-4  pb-5 pe-lg-0 pt-5 align-items-center rounded-3 border shadow-lg">
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
            <h1 class="display-4 fw-bold lh-1">Bienvenido a</h1>
            <h1 class="display-4 fw-bold lh-1 text-success">Y-Zone</h1>
            <p class="lead">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex iusto sunt perspiciatis, et asperiores repudiandae, magni, totam explicabo quas odit sint ratione amet error alias. Odit pariatur aut amet, harum ipsam ipsum doloribus soluta nihil beatae expedita
                rerum animi hic quis aspernatur ipsa enim, necessitatibus nam magni, eveniet velit officiis.
            </p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
                <button type="button" class="btn btn-success btn-lg px-4 me-md-2 fw-bold">Primary</button>
                <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button>
            </div>
        </div>
        <div class="col-lg-4 m-auto">
            <div class="card p-4 shadow-lg" style="width: 18rem;">
                <h2>Inicio de sesión:</h2>
                <form action="/login" method="POST" autocomplete="off">
                    <div class="form-group form-card">
                        <input type="text" name="user" class="form-control mx-auto" placeholder="Usuario" aria-describedby="helpId">
                        <input type="password" name="pass" class="form-control mx-auto" placeholder="Contraseña" aria-describedby="helpId">
                        <input type="submit" value="Iniciar Sesión" class="btn bg-principal  btn-lg btn-block">
                    </div>
                </form>
                <a role="button" href="/" name="" id="" class="btn bg-secundario btn-lg btn-block">Cancelar</a>
            </div>
        </div>
    </div>
</div>

<div class="b-example-divider"></div>

{% endblock %}