{% extends 'layout.html' %} {% block content %}

<div class="b-example-divider"></div>

<div class="container my-3 mx-auto ">
    <div class="row p-4  pb-5 pe-lg-0 pt-5 align-items-center rounded-3 border shadow-lg" id="resividor-box">


        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">

            <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="5000">
                        <h1 class="display-4 fw-bold lh-1">Bienvenido a</h1>
                        <h1 class="display-4 fw-bold lh-1 text-success">Y-Zone</h1>
                        <p class="lead">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex iusto sunt perspiciatis, et asperiores repudiandae, magni, totam explicabo quas odit sint ratione amet error alias. Odit pariatur aut amet, harum ipsam ipsum doloribus soluta nihil beatae expedita
                            rerum animi hic quis aspernatur ipsa enim, necessitatibus nam magni, eveniet velit officiis.
                        </p>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">

                            <button type="button" class="btn btn-success  px-4 me-md-2 fw-bold">Saber más</button>
                            <button type="button" class="btn btn-outline-secondary  px-4">Ir a inicio de sesión</button>

                        </div>
                    </div>
                    <div class="carousel-item" data-bs-interval="3000">
                        <h1 class="display-4 fw-bold lh-1">Te recomendamos</h1>
                        <h1 class="display-4 fw-bold lh-1 text-success">Nuestra tienda</h1>
                        <p class="lead">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex iusto sunt perspiciatis, et asperiores repudiandae, magni, totam explicabo quas odit sint ratione amet error alias. Odit pariatur aut amet, harum ipsam ipsum doloribus soluta nihil beatae expedita
                            rerum animi hic quis aspernatur ipsa enim, necessitatibus nam magni, eveniet velit officiis.
                        </p>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">

                            <button type="button" class="btn btn-success  px-4 me-md-2 fw-bold">Ir a la tienda</button>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <h1 class="display-4 fw-bold lh-1">Bienvenido a</h1>
                        <h1 class="display-4 fw-bold lh-1 text-success">Y-Zone</h1>
                        <p class="lead">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex iusto sunt perspiciatis, et asperiores repudiandae, magni, totam explicabo quas odit sint ratione amet error alias. Odit pariatur aut amet, harum ipsam ipsum doloribus soluta nihil beatae expedita
                            rerum animi hic quis aspernatur ipsa enim, necessitatibus nam magni, eveniet velit officiis.
                        </p>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">

                            <button type="button" class="btn btn-success  px-4 me-md-2 fw-bold">Saber más</button>
                            <button type="button" class="btn btn-outline-secondary  px-4">Ir a inicio de sesión</button>

                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
            </div>

            <!--  -->
        </div>


        <div class="col-lg-4 m-auto">
            <div class="card p-4 shadow-lg" style="width: 18rem;" id="resividor">
                <h2>Registro:</h2>
                <!--? formulario de registro -->
                <form action="/login" method="POST" autocomplete="off">

                    <div class="form-group form-card text-center">
                        <input type="text" name="user" class="form-control mx-auto my-1" placeholder="Usuario" aria-describedby="helpId" required>
                        <input type="email" name="email" class="form-control mx-auto my-1" placeholder="Correo electrónico" aria-describedby="helpId" required>
                        <input type="password" name="pass" class="form-control mx-auto my-1" placeholder="Contraseña" aria-describedby="helpId" required>
                        <input type="submit" value="Registrarme" class="btn form-control mx-auto my-1 btn-success mt-1 btn-block fw-bold">
                    </div>

                </form>
                <a role="button" href="/" name="" id="" class="btn btn-outline fw-bold btn-block">Cancelar</a>
            </div>
        </div>


    </div>
</div>

<div class="b-example-divider"></div>

{% endblock %}